[submodule "code/crammer"]
	path = code/crammer
	url = git://github.com/l3enny/crammer.git
[submodule "code/lasana"]
	path = code/lasana
	url = git://github.com/l3enny/lasana.git
[submodule "code/rategen"]
	path = code/rategen
	url = git://github.com/l3enny/rategen.git
